<ng-include src="'/partials/topNav.html'"></ng-include>
<div class="row">
	<div class="col-md-12 col-sm-3 col-xs-3">
		<div class="row">
			<div class="col-md-12">
				<br>
				<br>
				<div class="row container">
					<div class="col-md-12">
						<div class="btn-group">
						  <button type="button" class="btn btn-default" ng-class='{active: collectionId == "allCourses"}' ng-click="switchDB('allClasses')">All Classes</button>
						  <!-- <button type="button" class="btn btn-default" ng-class="{active: courseCollection == majorReqs}" ng-click="switchDB('majorReqs')">Major Requirements</button> -->
						  <button type="button" class="btn btn-default" ng-class="{active: collectionId == 'genReqs'}" ng-click="switchDB('generalReqs')">General Requirements</button>
						  <button type="button" class="btn btn-default" ng-class="{active: collectionId == 'majorReqs'}" ng-click="switchDB('majorReqs')">Major Requirements</button>
						</div>
					</div>
				</div>
				<hr>
				<div class="admin-form">
					<!-- <form role="form" class="" ng-click="click()"> -->
						<button href="#" class="btn btn-success btn-lg pull-left" ng-click="addCourse()">Add Course</button>
						<div class="row">
							<div class="col-md-8">
								<div class="panel panel-default" ng-repeat="course in courseCollection track by $index">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">{{course.className}}</h3>
											<!-- <div class="btn-group pull-right"> -->
											    <button href="#" class="btn btn-danger btn-lg pull-right" ng-click="deleteCourse(course)">Delete Course</button>
										    <!-- </div> -->
										</div>
										<div class="panel-body">
											<div ng-repeat="(key, value) in course track by $index">
										    	<div ng-show=' typeof(value) == "string" && key != "available"'>
											    	<label for={{key}} class="attribute-label"> <b>{{key}}</b></label>
													<input type="text" ng-model="course[key]" ng-change="updateCourseCollection()" class="form-control" id={{key}} placeholder={{key}}>
												</div>

												<div ng-show=' key == "available" '>
											    	<label class="attribute-label"> <b>{{key}}: </b>{{course.available}}</label>
													<input type="checkbox" ng-model="course.available" ng-true-value="true" ng-false-value="false" ng-change="updateCourseCollection()" class="form-control" placeholder={{key}}>
												</div>
											</div>
											<div class="container">
												<h3>Sections</h3>
													<button class="btn btn-primary btn-lg" ng-click="addSection(course)">Add New Section</button>
												<div ng-repeat="section in course.sections track by $index">
													<h3>Section: {{section.sectionNumber}}</h3>
												    <button href="#" class="btn btn-warning btn-md pull-right" ng-click="deleteSection(course, section)">Delete Section</button>

													<div ng-repeat="(key, value) in section track by $index">
														<div ng-hide='key == "meetingDays"'>
													    	<label class="attribute-label"> <b>{{key}}</b></label>
															<input ng-model="section[key]" ng-change="updateCourseCollection()" type="text" class="form-control" placeholder={{key}}>
														</div>
														<div ng-show='key == "meetingDays"'>
													    	<label class="attribute-label"> <b>{{key}}</b></label>
															<input ng-list ng-model="section[key]" ng-change="updateCourseCollection()" type="text" class="form-control" placeholder={{key}}>
														</div>
													</div>
													<hr>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							</div>
					<!-- </form> -->
				</div>
			</div>
		</div>
	</div>
</div>