<ng-include src="'/partials/topNav.html'"></ng-include>
<ng-include src="'/partials/secondaryNav.html'"></ng-include>
<div class="row">
	<div class="col-md-3 col-sm-3 col-xs-3">
		<div ng-include src="'/partials/course_sidebar.html'"></div>
	</div>
	<div class="col-md-5 col-sm-5 col-xs-9">
		<div class="row" ng-repeat="course in classList | filter:searchQuery">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{course.className}}</h3>
					<p>{{course.professor}}</p>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p>{{course.description | truncate:150}}</p>
							<p learn-more-modal modal-course="course" schedule="scheduleService"></p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="btn-group" ng-repeat="section in course.sections">
								<div class="row">
									<p>{{section.meetingDays | ArrayToString}}: {{section.startTime | twentyFourHour}}-{{section.endTime | twentyFourHour}}</p>
									<p>Section: {{section.sectionNumber + 1}}</p>
									<p>Number of Students In Section: {{section.studentsRegistered}}/{{section.spotsInClass}}</p>
				    				<div ng-show="course.available">
				    					<div ng-hide="courseInSchedule(course)">
						    				<button type="button" class="btn btn-success" ng-click="addCourseToSchedule(course, section)">Add Class</button>
						    				<button type="button" class="btn btn-danger" disabled="disabled">Drop Class</button>
					    				</div>
					    				<div ng-show="courseInSchedule(course)">
						    				<button type="button" class="btn btn-success" disabled="disabled">Add Class</button>
								    		<button type="button" class="btn btn-danger" ng-click="removeCourseFromSchedule(course)">Drop Class</button>
							    		</div>
						    		</div>
			    				</div>
			    				<br>
			    			</div>
			    			<div ng-hide="course.available">
		    					<button type="button" class="btn btn-success" disabled="disabled">Not Available This Semester</button>
				    		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4 hidden-xs calendar-container">
		<ng-include src="'/partials/calendar_sidebar.html'"></ng-include>
	</div>
</div>