<ng-include src="'/partials/topNav.html'"></ng-include>
<ng-include src="'/partials/secondaryNav.html'"></ng-include>

<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-3 layout-box"></div>
	<div class="col-md-6 col-sm-6 col-xs-9">
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">General Requirements</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">Major Requirments</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4 layout-box hidden-xs"></div>
</div>