<ng-include src="'/partials/topNav.html'"></ng-include>
<ng-include src="'/partials/secondaryNav.html'"></ng-include>

<div class="row">
	<div class="col-md-3 col-sm-3 col-xs-3">
		<div ng-include src="'/partials/course_sidebar.html'"></div>
	</div>
	<div class="col-md-5 col-sm-5 col-xs-9">
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">General Requirements</div>
			  <div class="panel-body">
			    <div class="" ng-repeat="requirement in genReqs">
			    	<div class="row">
			    		<div class="col-md-6">
			    			<h4 ng-bind="requirement.className"></h4>
			    		</div>
			    		<div class="col-md-6">
			    			<div class="btn-group">
			    				<button ng-show="requirement.available" type="button" class="btn btn-success">Add Class</button>
			    				<button ng-show="requirement.available" type="button" class="btn btn-danger" disabled="disabled">Drop Class</button>
								<button ng-show="!requirement.available" type="button" class="btn btn-success" disabled="disabled">Class Not Available</button>
			    			</div>
			    			
			    		</div>
			    	</div>
			    </div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">Major Requirments</div>
			  <div class="panel-body">
			    <div class="" ng-repeat="requirement in majorReqs">
			    	<div class="row">
			    		<div class="col-md-6">
					    	<h4 ng-bind="requirement.className"></h4>
			    		</div>
			    		<div class="col-md-6">
			    			<div class="btn-group">
			    				<button ng-show="requirement.available" type="button" class="btn btn-success">Add Class</button>
			    				<button ng-show="requirement.available" type="button" class="btn btn-danger" disabled="disabled">Drop Class</button>
				    			<button ng-show="!requirement.available" type="button" class="btn btn-success" disabled="disabled">Class Not Available</button>
			    			</div>
			    		</div>
			    	</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-4 hidden-xs">
	</div>
</div>