<div ng-controller="CalendarController">
	<div class="row">
		<div class="col-md-1 calendar-axes-container">
			<div class="row" ng-repeat="axesTime in axesData">
				<div class="axes-time">
					{{axesTime.time}}
				</div>
			</div>
		</div>
		<div class="col-md-11 calendar-events-container">
			<div class="col-md-2 calendar-column">
				<p class="day-of-week">M</p>
				<div ng-repeat="class in mondayClasses">
					<div class="calendar-event" ng-style="{ height: (class.height) * 40, top: (class.start), width: (class.width * 60), left: (class.column * 30)}">{{class.start}}</div>
				</div>
			</div>
			<div class="col-md-2 calendar-column">
				<p class="day-of-week">T</p>
				<div ng-repeat="class in mondayClasses">
					<div class="calendar-event" ng-style="{ height: (class.height) * 40, top: (class.start), width: (class.width * 60), left: (class.column * 30)}">{{class.start}}</div>
				</div>
			</div>
			<div class="col-md-2 calendar-column">
				<p class="day-of-week">W</p>
				<div ng-repeat="class in mondayClasses">
					<div class="calendar-event" ng-style="{ height: (class.height) * 40, top: (class.start), width: (class.width * 60), left: (class.column * 30)}">{{class.start}}</div>
				</div>
			</div>
			<div class="col-md-2 calendar-column">
				<p class="day-of-week">Th</p>
				<div ng-repeat="class in mondayClasses">
					<div class="calendar-event" ng-style="{ height: (class.height) * 40, top: (class.start), width: (class.width * 60), left: (class.column * 30)}">{{class.start}}</div>
				</div>
			</div>
			<div class="col-md-2 calendar-column">
				<p class="day-of-week">F</p>
				<div ng-repeat="class in mondayClasses">
					<div class="calendar-event" ng-style="{ height: (class.height) * 40, top: (class.start), width: (class.width * 60), left: (class.column * 30)}">{{class.start}}</div>
				</div>
			</div>
		</div>
	</div>
</div>