<div class="container sidebar" id="sidebar-container" ng-controller="CourseSidebarController">
	<div class="row">
		<div class="col-md-12">
			<h1>Course Priority</h1>
			<p>You will automatically be registered for these courses when your registration period opens.</p>
		</div>
		<div class="col-md-12">
			<div class="row" ng-repeat="course in user.schedule | orderBy:'priority'">
				<div class="col-md-11 col-md-offset-1 panel panel-default" ng-style="stylePanel(course)">
					<div class="row panel-body">
						<div class="col-md-2 up-down-container">
							<div class="row">
								<button type="button" class="btn btn-up-down" ng-click="changeCoursePriority($index, 'up')">
									<span class="glyphicon glyphicon-arrow-up"></span>
								</button>
							</div>
							<div class="row">
								<button type="button" class="btn btn-up-down" ng-click="changeCoursePriority($index, 'down')">
									<span class="glyphicon glyphicon-arrow-down"></span>
								</button>
							</div>
						</div>
						<div class="col-md-8">
							<p>{{course.course.className}}</p>
							<p>Section: {{course.section + 1}}</p>
						</div>
						<div class="col-md-2 close-sidebar-element">
							<button type="button" class="btn" ng-click="removeCourseFromSchedule(course.course)">
								<a class="close">x</a>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- <label for="add-course-input"></label> -->
					<div class="input-group">
						<input type="text" ng-model="sidebarAddModel" ui-keypress="{13:'addCourseFromSidebar(sidebarAddModel)'}" class="form-control" placeholder="Add Class" id="add-course-input"/>
						<span class="input-group-addon" ng-click="addCourseFromSidebar(sidebarAddModel)">
							<button type="button" class="btn sidebar-plus-btn">
								<a class="glyphicon glyphicon-plus sidebar-add-target"></a>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
