<div class="container" ng-controller="CourseSidebarController">
	<div class="row">
		<h1>Preferred Courses</h1>
		<div class="col-md-12">
			<div class="row" ng-repeat="course in user.schedule | orderBy:'priority'">
				<div class="col-md-11 col-md-offset-1">
					<div class="row">
						<div class="col-md-2">
							<div class="row">
								<button type="button" class="btn" ng-click="changeCoursePriority($index, 'up')">
									<span class="glyphicon glyphicon-arrow-up"></span>
								</button>
							</div>
							<div class="row">
								<button type="button" class="btn" ng-click="changeCoursePriority($index, 'down')">
									<span class="glyphicon glyphicon-arrow-down"></span>
								</button>
							</div>
						</div>
						<div class="col-md-8">
							<p>{{course.course.className}}</p>
							<p>Section: {{course.section}}</p>
							<p>Priority: {{course.priority}}</p>
						</div>
						<div class="col-md-2">
							<button type="button" class="btn" ng-click="removeCourseFromSchedule(course.course)">
								<a class="close">x</a>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>Add Class</p>
					<div class="input-group">
						<input type="text" ng-model="sidebarAddModel" ui-keypress="{13:'addCourseFromSidebar(sidebarAddModel)'}" class="form-control" placeholder="Class Name" />
						<span class="input-group-addon" ng-click="addCourseFromSidebar(sidebarAddModel)">
							<button type="button" class="btn sidebar-plus-btn">
								<a class="glyphicon glyphicon-plus sidebar-add-target"></a>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
