<a ng-click="open()" class="learn-more">learn more</a>
<div class="modal fade" id={{formatId(modalCourse.className)}}>
  <div class="modal-dialog more-info">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{modalCourse.className}}</h4>
        <p>{{modalCourse.professor}}</p>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>{{modalCourse.description}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4" ng-repeat="section in modalCourse.sections">
            <p>Section {{strToInt(section.sectionNumber) + 1}}</p>
            <p>{{section.meetingDays | ArrayToString}}: {{section.startTime | twentyFourHour}}-{{section.endTime | twentyFourHour}}</p>
            <div ng-show="modalCourse.available">
              <div ng-hide="schedule.inSchedule(modalCourse)">
                <button type="button" class="btn btn-success" ng-click="addCourseToSchedule(modalCourse, section)">Add Class</button>
                <button type="button" class="btn btn-danger" disabled="disabled">Drop Class</button>
              </div>
              <div ng-show="schedule.inSchedule(modalCourse)">
                <button type="button" class="btn btn-success" disabled="disabled">Add Class</button>
                <button type="button" class="btn btn-danger" ng-click="schedule.removeCourse(modalCourse)">Drop Class</button>
              </div>
            </div>
          </div>
          <div class="col-md-4" ng-show="!modalCourse.available">
            <button type="button" class="btn" disabled="disabled">Not Available This Semester</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
