<nav class="navbar navbar-default navbar-secondary hidden-sm hidden-xs" role="navigation">
  <div class="navbar-header">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <div class="row">
    <div class="col-md-3">
    <div class="user-info">
      <div>Name: {{user.name}}</div>
      <div>Major: {{user.major}}</div>
      <div>Year of Graduation: {{user.yog}}</div>
    </div>
  </div>
  <div class="col-md-6" ng-controller="SearchController">
    <div class="input-group input-search-container">
        <input type="text" class="form-control" placeholder="Search for classes" name="search-term" id="search-term" ng-model="searchModel" ui-keypress="{13:'searchForClasses(searchModel)'}">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" ng-click="searchForClasses(searchModel)"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
  </div>
  </div>
</nav>