.axes-time {
	height: 48px;
}

.calendar-container {
	width: 100%;
	padding-left: 0!important;
	padding-right: 0!important;
}

.calendar-events-container {
	padding-left: 0!important;
	padding-right: 0!important;
	// left: 10%;
	width: 0%;
}

.calendar-axes-container {
	left: 5%;
	margin-top: 5%;
}



.calendar-column {
	padding-left: 0!important;
	padding-right: 0!important;
	width: 72px !important;
}

.calendar-event {
	position: absolute;
	p {
		word-wrap: break-word;
		font-size: .8em;
		color: #34495e;
	}
}

.day-of-week {
	text-align: center;
}

.schedule-column-container {
	position: relative;
}