// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-success: #3B9466;
$brand-danger: #C74133;
$brand-warning: #DEB32E;

@import "bootstrap";