.active {
	// opacity: .5;
	border: 2px solid #777777;
}

.input-search-container{
	padding-top: 12px;
}

.navbar-secondary{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.navbar-top{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 0px;
}

.user-info {
	margin-left: 5%;
}

