.active {
	// opacity: .5;
	background: white;
	// border-radius: 8px;
	box-shadow: inset 0px 0px 3px #777777;
}

.active:hover {
	background: white !important;
	opacity:.7 !important;
}

.input-search-container{
	padding-top: 12px;
}

.navbar-secondary{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.navbar-top{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-bottom: 0px;
}

.user-info {
	margin-left: 5%;
}

