.btn-up-down
{
	width:32px;
	height: 50px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding-left: 8px;
	opacity: .5;
}

.btn-remove-course
{
	border-radius: 2px;
	background: transparent;
}

#sidebar-container.affix {
	width: 22%;
}

.sidebar-add-target{
	vertical-align: top;
	margin-top: -5px;	
}

.sidebar-plus-btn{
	height: 20px;
	background-color: transparent;
}

.close {
	opacity: .4;
}

.close-sidebar-element{
	margin: 0;
	padding: 0;
	width: auto;
	position: absolute;
	top: 0px;
	right: 0px;
}

.up-down-container {
	padding-left: 0px;
	margin-top: -5px;
}

.sidebar .panel {
	height: 125px;
	margin-bottom: 10px;
}

.sidebar .panel p {
	color: rgb(236, 240, 241);
}


